# Homework

## Module 2

#### In this assignment, you will work on movie data from IMDB.
- The data includes movies and ratings from the IMDB website
- Data File(s): imdb.xlsx

#### Data file contains 3 sheets:
- “imdb”: contains records of movies and ratings scraped from IMDB website
- “countries”: contains the country (of origin) names
- “directors”: contains the director names

In [1]:
# define location
my_input_path = '../input/'

# define input name
my_input_file_name = 'imdb.xlsx'

# define input files
my_input_file = my_input_path + my_input_file_name

In [2]:
""" Q1: 
Load and read the 'imdb.xlsx' file. Read the 'imdb' sheet into a DataFrame, df.
"""

import pandas as pd

# your code here
df = pd.read_excel(my_input_file, sheet_name='imdb')
df.head()

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration
0,The Shawshank RedemptionÊ,34,1,R,1994,9.3,28341469,142
1,The GodfatherÊ,33,1,R,1972,9.2,134821952,175
2,The Dark KnightÊ,16,1,PG-13,2008,9.0,533316061,152
3,The Godfather: Part IIÊ,33,1,R,1974,9.0,57300000,220
4,The Lord of the Rings: The Return of the KingÊ,83,1,PG-13,2003,8.9,377019252,192

In [3]:
""" Q2: 
Store the dimensions of the DataFrame as a tuple in a variable called 'shape' and print it.

Hint: A tuple is made up of comma separated values inside parenthesis.  e.g. (1, 2)
"""

# your code here
shape = df.shape
print (shape)

(178, 8)

In [4]:
""" Q3: 
Store the column titles and the types of data in variables named 'columns' and 'dtypes', then print them.
"""

# your code here
columns = df.columns
dtypes = df.dtypes

In [5]:
""" Q4: 
Examine the first 10 rows of data; store them in a variable called first10
"""

# your code here
first10 = df.head(10)

In [6]:
""" Q5: 
Examine the first 5 rows of data; store them in a variable called first5
"""

# your code here
first5 = df.head()

In [7]:
""" Q6: 
Import the "directors" and "countries" sheets into their own DataFrames, df_directors and df_countries.
"""

# your code here
df_directors = pd.read_excel(my_input_file, sheet_name='directors')
df_countries = pd.read_excel(my_input_file, sheet_name='countries')

In [8]:
df_directors.head()

   id          director_name
0   1         Akira Kurosawa
1   2     Alejandro Amenabar
2   3  Alejandro G. Inarritu
3   3  Alejandro G. Inarritu
4   4       Alfred Hitchcock

In [9]:
""" Q7: 
Check the "directors" sheet
1. Count how many records there are based on the "id" column. (To get the number of records per "id", 
   use the value_counts method.) Store the result in a variable named count.
2. Remove the duplicates from the directors dataframe and store the result in a variable called df_directors_clean.
"""

# your code here
count = df_directors.id.value_counts()
df_directors_clean = df_directors.drop_duplicates()