# Homework

## Module 4

#### In this assignment, you will continue working on the movie data from IMDB.
- The data includes movies and ratings from the IMDB website
- Data File(s): imdb.xlsx

#### Data file contains 3 sheets:
- “imdb”: contains records of movies and ratings scraped from IMDB website
- “countries”: contains the country (of origin) names
- “directors”: contains the director names

We have loaded and joined the data as "df" for you. Follow the instructions and finish the rest part.

In [1]:
# define location
my_input_path = '../input/'

# define input name
my_input_file_name = 'imdb.xlsx'

# define input files
my_input_file = my_input_path + my_input_file_name

In [2]:
# Loading the data
import pandas as pd

xls = pd.ExcelFile(my_input_file)
df = xls.parse('imdb')
df_directors = xls.parse('directors')
df_countries = xls.parse('countries')

print("Data Loading Finished.")

Data Loading Finished.

In [3]:
df = pd.merge(left=df, right=df_countries, 
              how='inner', left_on='country_id', 
              right_on='id')

df = pd.merge(left=df, right=df_directors, 
              how='inner', left_on='director_id', 
              right_on='id')

print("Finished.")

Finished.

In [4]:
df.head()

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
0,The Shawshank RedemptionÊ,34,1,R,1994,9.3,28341469,142,1,USA,34,Frank Darabont
1,The Shawshank RedemptionÊ,34,1,R,1994,9.3,28341469,142,1,USA,34,Frank Darabont
2,The Green MileÊ,34,1,R,1999,8.5,136801374,189,1,USA,34,Frank Darabont
3,The Green MileÊ,34,1,R,1999,8.5,136801374,189,1,USA,34,Frank Darabont
4,The GodfatherÊ,33,1,R,1972,9.2,134821952,175,1,USA,33,Francis Ford Coppola

In [5]:
""" Q1: 
Get the summary statistics for imdb_score and gross, then use the describe() function to summarize this visually. Save the
result in a variable called score_gross_description and print it.
"""

# your code here

score_gross_description = df[['imdb_score', 'gross']].describe()
print(score_gross_description)

       imdb_score         gross
count  408.000000  4.080000e+02
mean     8.352696  1.231909e+08
std      0.287397  1.304926e+08
min      8.000000  8.060000e+03
25%      8.100000  2.488263e+07
50%      8.300000  7.493675e+07
75%      8.500000  1.879914e+08
max      9.300000  6.232795e+08

In [6]:
"""Q2:
What is the average rating of the director Christopher Nolan's movies? Save this value in a variable called nolan_mean and 
print.
"""

# your code here

nolan_mean = df[df['director_name']=='Christopher Nolan']['imdb_score'].mean()
print(nolan_mean)

8.600000000000001

In [7]:
"""Q3: 
Create a series called 'directors' that contains each director's name and his or her average rating.  Print out the type of your variable.
Use the 'directors' series to find the average rating for Steven Spielberg.  Print the value.
"""

# your code here

directors = df.groupby('director_name')['imdb_score'].mean()
directors

director_name
Akira Kurosawa           8.70
Alejandro Amenabar       8.10
Alejandro G. Inarritu    8.10
Alfred Hitchcock         8.50
Andrew Stanton           8.30
                         ...
Victor Fleming           8.15
Vincent Paronnaud        8.00
Wes Anderson             8.10
Wolfgang Petersen        8.40
Woody Allen              8.10
Name: imdb_score, Length: 117, dtype: float64

In [8]:
"""Q4:
Select the non-USA movies made after 1960 by Hayao Miyazaki.
Save the result in a DataFrame called 'miyazaki', then print it.

Here are the steps:
1. Query the data ('df' DataFrame) based on the following conditions:
- Non-USA movies (country_id != 1)
- Movies made after 1960 (title_year > 1960)
- Movies made by director Hayao Miyazaki (director_id == 46)
2. Save the filtered data in a DataFrame called 'miyazaki' and print it

"""

# your code here

miyazaki = df[ (df['country_id']!= 1) & (df['title_year']> 1960) & (df['director_id']==46) ]

In [9]:
"""Q5: 
Create a Pivot Table that shows the median rating for each director, grouped by their respective countries. Name your variable
'pivot_agg'
"""

# your code here
import numpy as np
pd.pivot_table(df,index=['country','director_name'],values=['imdb_score'],aggfunc=[np.median])

                                      median
                                  imdb_score
country      director_name
Argentina    Juan Jose Campanella       8.20
Australia    George Miller              8.10
Brazil       Fernando Meirelles         8.70
             Jose Padilha               8.10
Canada       Denis Villeneuve           8.20
...                                      ...
USA          Tony Scott                 8.00
             Victor Fleming             8.15
             Wes Anderson               8.10
             Woody Allen                8.10
West Germany Wolfgang Petersen          8.40

[125 rows x 1 columns]

In [10]:
df.head()

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
0,The Shawshank RedemptionÊ,34,1,R,1994,9.3,28341469,142,1,USA,34,Frank Darabont
1,The Shawshank RedemptionÊ,34,1,R,1994,9.3,28341469,142,1,USA,34,Frank Darabont
2,The Green MileÊ,34,1,R,1999,8.5,136801374,189,1,USA,34,Frank Darabont
3,The Green MileÊ,34,1,R,1999,8.5,136801374,189,1,USA,34,Frank Darabont
4,The GodfatherÊ,33,1,R,1972,9.2,134821952,175,1,USA,33,Francis Ford Coppola

In [11]:
"""Q6:
How long did the movie Gladiator aim to keep your attention? Save the series with this information
in a variable called 'gladiator_duration', then print it.
"""

# your code here

df['movie_title'] = df['movie_title'].str.replace('Ê', '')
df = df.drop_duplicates()
df_slt = df[df['movie_title'] == 'Gladiator']
df_slt['duration']

203    171
Name: duration, dtype: int64